*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-color: #dc7b3b;
}

body::-webkit-scrollbar{
    width: 14px;
    background-color: rgb(253, 115, 23);
}

body::-webkit-scrollbar-thumb{
    background-color: bisque;
    border-radius: 100px;
    
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(247, 171, 80);
}


header{
    background-color: rgb(235, 94, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 12vh;


}


header img{
    object-fit: cover;
    width: 180px;
    height: 180px;
    padding: 25px;
    display: flex;
    margin-bottom: 5px;
    transition: ease-in .25s;
}

header img:hover{
    width: 190px;
    height: 190px;
    transition: all 0.25s;
    
}


header a:hover{
    background-color: white;
    color: black;
    border-radius: 14px;
    font-size: 1.7rem;
    transition: all 0.25s;

}

header ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.5rem;
    transition: ease-in .2s;
    border-radius: 14px;
}

header nav ul li{
    display: inline-flex;
    padding: 5px;
}

/* ------SECTION 1----- */

.carousel img{
    border-radius: 14px;
}


footer {
    background-color: rgb(235, 94, 24);
    height: auto;
    width: 99vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
}




footer img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    display: flex;
    transition: ease-in .25s;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 2rem;
    transition: color .4s ease;

}

.socials a:hover i{
    color: aqua;
}




/* -------- Ofertas.html ---------- */


.card{
    margin: 0px 50px 50px ;
}

.card img{
    object-fit: cover;
}


@media screen and (max-width: 1481px){
    .card{
        margin: 0px 15px 0px;
    }
    

}

@media screen and (max-width: 710px){
    .tarjeta-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 545px){
    header img{
        width: 130px;
        height: 130px;
    }

    header ul li a{
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 1.2rem;
        
    }
    
}

@media screen and (max-width: 440px){
    header img{
        width: 120px;
        height: 120px;
    }

    header ul li a{
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 1rem;
        
    }
    .card{
        margin: 0 0 0;
    }

    
    
}

@media screen and (max-width: 394px){
    header img{
        width: 0;
        height: 0;
        padding: 0;
    }


    header ul li a{
        display: inline-flex;
        font-size: 1rem;
        
    }
    .card{
        margin: 0 0 0;
    }
}

/* ---------- Fin de Ofertas.html -------- */





/* ------------  Servicios --------------- */

section .section-servicios-1 {
    display: grid;
    height: 500px;
    border-radius: 14px;
    margin-top: 50px;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
}

section .section-servicios-1 .mercado-pago{
    grid-column: 1;
    grid-row: 1;


}

section .section-servicios-1 .mercado-pago img{
    object-fit: cover;
    border-radius: 10px;
    margin-top: 30px;
}

section .section-servicios-1 .p-mercado-pago{
    grid-column: 2 / 5;
    grid-row: 1;
    margin-top: 130px;
    margin-left: 100px;
   
}

section .section-servicios-1 .p-mercado-pago p{
    font-size: 3rem;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    transition: ease-in .25s;
}

section .section-servicios-1 .p-mercado-pago p:hover{
    background-color: rgb(183, 183, 183);
    transition: all 0.2s;
}

@media screen and (max-width: 992px){
    section .section-servicios-1 {
        height: 120vh;
    }

    section .section-servicios-1 .mercado-pago{
        grid-column: 2;
        grid-row: 1;
    }

    section .section-servicios-1 .p-mercado-pago{
        grid-column: 2;
        grid-row: 3;
    }
}


@media screen and (max-width: 978px){
    section .section-servicios-1 {
        height: 150vh;
    }

    section .section-servicios-1 .mercado-pago{
        grid-column: 2;
        margin-top: 10px;
    }

    section .section-servicios-1 .p-mercado-pago{
        grid-column: 2;
        grid-row: 3;
    }

    section .section-servicios-2 {
        height: 150vh;
    }

    section .section-servicios-2 .parrafo-recargas {
        grid-column: 2;
    }

    section .section-servicios-2 .claro{
        grid-column: 2;
    }

    section .section-servicios-2 .movistar{
        grid-column: 2;
        grid-row: 3;
    }

    section .section-servicios-2 .personal {
        grid-column: 2;
        grid-row: 4;
    }



}




@media screen and (max-width: 481px){
    section .section-servicios-1 .mercado-pago img{
        object-fit: cover;
        width: 350px;
        height: 350px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 376px){
    section .section-servicios-1 .mercado-pago img{
        object-fit: cover;
        width: 280px;
        height: 280px;
        border-radius: 5px;
    }
    
    section .section-servicios-1 .mercado-pago{
        grid-column: 1;
    }
    
    section .section-servicios-1 .p-mercado-pago{
        grid-column: 1;
        margin-left: -5px;
    }

}
/* --- SECTION SERVICIOS 2 --- */

.section-servicios-2 {
    display: grid;
    height: 70vh;
    border-radius: 14px;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
}


.section-servicios-2 .parrafo-recargas{
    grid-column: 3 / 4;
    grid-row: 1;

}

.section-servicios-2 .parrafo-recargas p{
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    transition: ease-in 0.25s;
}

.section-servicios-2 .parrafo-recargas p:hover{
    background-color: rgb(195, 191, 191);
    transition: all 0.2s;
}


/* CLARO */
.section-servicios-2 .claro {
    grid-column: 1;
    grid-row: 3;

}

.section-servicios-2 .claro img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

/* MOVISTAR */

.section-servicios-2 .movistar{
    grid-column: 3;
    grid-row: 3;
}


.section-servicios-2 .movistar img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

/* PERSONAL */

.section-servicios-2 .personal{
    grid-column: 5;
    grid-row: 3;
}


.section-servicios-2 .personal img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

@media screen and (max-width: 978px){
    .section-servicios-2 {
        height: 200vh;
    }


    .section-servicios-2 .parrafo-recargas{
        grid-column: 4 / 7;
        grid-row: 1;
    
    }

    .section-servicios-2 .claro{
        grid-column: 5;
        grid-row: 2;
    }

    .section-servicios-2 .movistar{
        grid-row: 4;
    }
    
    .section-servicios-2 .personal{
        grid-column: 5;
        grid-row: 6;
    }
}




/* ------------ Fin de Servicios --------- */







/* -------------- Loteria ----------------- */

/* SECTION 1 */

/* Contenedor padre */
.section-loteria-1{
    display: flex;
    margin-top: 50px;
}
/* ------------------ */


.section-loteria{
    display: grid;
    height: 80vh;
    width: 60vh;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    border-radius: 10px;
}


.section-loteria .pantalla{
    grid-column: 2;
    grid-row: 2;

}


.section-loteria .pantalla img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}


.section-loteria .parrafo-loteria {
    grid-column: 1 / 6;
    grid-row: 1;
    margin-top: 20px;
}

.section-loteria .parrafo-loteria p{
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: ease-in 0.3s;
}

.section-loteria .parrafo-loteria p:hover{
    background-color: rgb(157, 155, 155);
    transition: all 0.3s;
    
}

/* SECTION 2 */


.section-loteria-2{
    transition: ease-in 0.3s;
    display: grid;
    height: 80vh;
    width: 130vh;
    margin-left: 30px; 
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    border-radius: 10px;
    
}




.section-loteria-2:hover{
    background-color: rgb(254, 166, 94);
    transition: all 0.6s;
} 



.section-loteria-2 .quini-6{
    grid-column: 1;
    grid-row: 2;
}

.section-loteria-2 .quini-6 img{
    object-fit: cover;
    width: 400px;
    height: 350px;
    border-radius: 10px;
}

.section-loteria-2 .parrafo-quini{
    grid-column: 2 / 5;
    grid-row: 2;
}

.section-loteria-2 .parrafo-quini p{
    background-color: white;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.4s;
}

.section-loteria-2 .parrafo-quini p:hover{
    background-color: rgb(157, 155, 155);
    transition: all 0.4s;
}


/* SECTION 3 */

.section-loteria-3 {
    display: grid;
    height: 70vh;
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    border-radius: 10px;
}

.section-loteria-3 .loto-plus{
    grid-column: 3;
    grid-row: 1;
   
}

.section-loteria-3 .loto-plus img{
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}


.section-loteria-3 .parrafo-loto {
    grid-column: 1;
    grid-row: 1;
    margin-top: 70px;

}


.section-loteria-3 .parrafo-loto p{
    background-color: white;
    font-size: 2rem;
    font-family: sans-serif;
    border-radius: 10px;
    transition: all 0.4s;
}


.section-loteria-3 .parrafo-loto p:hover{
    background-color: rgb(157, 155, 155);
    transition: all 0.4s;
}



/* SECTION 4 */

.section-loteria-4 {
    display: grid;
    height: 500px;
    margin-bottom: 150px;
    background-color: rgb(236, 144, 68);
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}

.section-loteria-4 .brinco{
    grid-column: 1;
    grid-row: 1;


}

.section-loteria-4 .brinco img{
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

.section-loteria-4 .parrafo-brinco{
    grid-column: 2;
    grid-row: 1;
    margin-top: 120px;
   
}

.section-loteria-4 .parrafo-brinco p{
    font-size: 2rem;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    transition: all 0.4s;
}

.section-loteria-4 .parrafo-brinco p:hover{
    background-color: rgb(183, 183, 183);
    transition: all 0.4s;
}



/* ---------- Fin de Loteria ----------- */






/* ----------- Ubicación --------------- */

.ubicacion{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
    width: 1200px;
    height: 800px;
}

.p_ubicacion{
    background-color: white;
    border-radius: 25px;
    text-align: center;
    display: flex;
    color: black;
    font-family: sans-serif;
    font-size: 2.3em;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: ease-in 0.3s;

}

.p_ubicacion:hover{
    background-color: rgb(157, 155, 155);
    transition: all 0.3s;

}

.p_ubicacion_2{
    background-color: white;
    text-align: center;
    display: flex;
    color: black;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 3.3em;
    margin-top: 10px;
    margin-bottom: 100px;
    transition: ease-in 0.3s;
}

.p_ubicacion_2:hover{
    background-color: rgb(157, 155, 155);
    transition: all 0.3s;

}







/* ---------- Fin de Ubicación ----------- */






/* ----------- Contacto.html ------------ */


.section-contacto{
    margin-top: 10vh;
    margin-bottom: 25vh;
    border-radius: 15px;
    padding: 12vh;
    background-color: rgb(235, 94, 24);
}

.section-contacto h1{
    background-color: white;
    width: 300px;
    border-radius: 14px;
    text-align: center;
}

.section-contacto-2{
    margin-bottom: 100px;
}

.section-contacto-2 .container img{
    object-fit: cover;
    width: 360px;
}